.PestManagementContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2열로 나누기 */
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 20px;
}

.PestManagementContent, .CCTVContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  /* border: 8px solid black; */
}

.PestManagementItem {
  background-color: #f9f9f9;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.CCTVImage {
  width: 90%;
  height: 60%;
  border: 8px solid black;
  margin-left: 20px;
  margin-bottom: 10px;
}

.CCTVContainer h1, 
.PestManagementContent h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 20px;
}