.PestManagementContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2열로 나누기 */
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 20px;
}

.PestManagementContent, .CCTVContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}

.PestManagementItem {
  background-color: #f9f9f9;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.CCTVImage {
  width: 100%;
  height: 86%;
  border: 8px solid black;
  margin-left: 20px;
  margin-bottom: 10px;
}

.CCTVContainer h1, 
.PestManagementContent h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 20px;
}

.dataSummary {
  font-weight: bold;
  font-size: 50px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.SendButton {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 200px;
  font-size: 72px;
  cursor: pointer;
}