.reportContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .tableContainer {
    width: 100%;
    overflow-x: auto; /* 테이블이 컨테이너를 넘어가면 스크롤바를 생성합니다 */
  }
  
  .reportTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .reportTable th, .reportTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .reportTable th {
    background-color: #00FFFF;
  }
  
  .chartContainer {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .chart {
    width: 80%;
    height: 300px;
    border: 1px solid black;
  }
  