.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  background: linear-gradient(135deg, #a8edea, #fed6e3);
}

.header {
  position: absolute;
  top: 10%;
  text-align: center;
}

.welcomeText {
  font-size: 128px;
  font-weight: bold;
  margin-bottom: 10px;
}

.greetingText {
  font-size: 96px;
  margin-bottom: 40px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.buttonWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 640px;
  height: 640px;
  cursor: pointer;
}

.icon {
  width: 640px;
  height: 640px;
  border: 8px solid #7d40e7;
}

.iconLabel {
  margin-top: 50px;
  font-size: 64px;
  font-weight: bold;
  color: #7d40e7;
  text-decoration: none;
}