.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 800px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 1000px;
}

.button {
  width: 500px;
  padding: 10px;
  text-align: center;
}