.navigationContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #fcfcfc;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0; /* 화면 좌측에 고정 */
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
}

.button {
  flex: 1; /* 버튼이 남은 공간을 고르게 차지하게 설정 */
  max-width: 300px; /* 최대 너비 설정 (옵션) */
  margin: 0 20px; /* 좌우 여백 추가 */
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}
