.NoticeContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.NotificationList {
  width: 97%;
  height: 70%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.NotificationItem {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.NotificationItem:last-child {
  border-bottom: none;
}

.DeleteButton {
  background: transparent;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.DeleteButton:hover {
  background-color: rgba(0, 0, 255, 0.1);
}