.NoticeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
}

.NotificationList {
  width: 97%;
  height: 88%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  border: 8px solid black
}

.NotificationItem {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.DeleteButton {
  background-color: #f9f9f9;
  cursor: pointer;
  padding: 8px 10px;
  border: none;
}

.DeleteIcon {
  width: 72px;
  height: 72px;
}