.StatusBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: white;
  padding: 0 20px;
  position: relative;
}

.menuButton {
  background-color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  order: 1;  /* 메뉴 버튼을 첫 번째로 배치 */
  margin-left: 30px;
  height: 100%;
}

.menuButton img {
  width: 100%; /* 아이콘 너비 설정 */
  height: 100%;
  cursor: pointer;
}

.menuPopup {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: absolute;
  top: 100px;
  width: 400px;
  height: 1000px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.timeContainer {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  order: 2;
}

.backButton {
  background-color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  order: 3;
  margin-right: 30px;
  height: 100%;
}

.backButton img {
  width: 100%; /* 아이콘 너비 설정 */
  height: 100%;
  cursor: pointer;
}